<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>スグリコ - トップページ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<h1>スグリコ へようこそ！</h1>

<!-- ログインしているユーザーにだけ表示される部分 -->
<div sec:authorize="isAuthenticated()">
    <!-- sec:authentication="name" で、ログイン中のユーザー名（この場合はログインID）を取得できる -->
    <p>こんにちは、 <span sec:authentication="name"></span> さん！</p>

    <!-- ▼▼▼ ここからが追記部分 ▼▼▼ -->
    <p><a th:href="@{/user/edit}">登録情報を変更する</a></p>
    <!-- ▲▲▲ ここまでが追記部分 ▲▲▲ -->

    <!-- ログアウトフォーム -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">ログアウト</button>
    </form>
</div>

<!-- ログインしていないユーザーにだけ表示される部分 -->
<div sec:authorize="isAnonymous()">
    <p><a th:href="@{/login}">ログイン</a>してください。</p>
</div>

<hr>
<p>ここに投稿タイムラインなどが表示されます。</p>
<!-- ボタンのデザインを決めるcss -->

<!-- 
  新規投稿ページへのリンクを持つフローティングボタン
  th:if="${#authorization.expression('isAuthenticated()')}" でログイン中のみ表示
-->
<a th:href="@{/posts/new}" class="floting-button" th:if="${#authorization.expression('isAuthenticated()')}">
    +
</a>
</body>
</html>